.nav-link {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.novigation-item {
  display: inline-block;
  margin-right: 32px;
  margin-top: 32px;
}
